hostname {{ hostname }}
!
no ip domain lookup
!
{# --- CONFIGURATION GLOBALE MPLS --- #}
mpls label protocol ldp
mpls ldp router-id Loopback0 force
!
{# --- DEFINITION DES VRF (Syntaxe moderne) --- #}
{% for vrf in vrfs_config %}
vrf definition {{ vrf.name }}
 rd {{ vrf.rd }}
 route-target export {{ vrf.rt }}
 route-target import {{ vrf.rt }}
 !
 address-family ipv4
 exit-address-family
!
{% endfor %}
!
{# --- INTERFACE LOOPBACK --- #}
interface Loopback0
 ip address {{ loopback_ip }} 255.255.255.255
!
{# --- INTERFACES BACKBONE (Vers les routeurs P) --- #}
{% for intf in interfaces %}
interface {{ intf.name }}
 description link to {{ intf.neighbor }}
 ip address {{ intf.ip }} {{ intf.mask }}
 {% if ldp_enabled and intf.mpls %}
 mpls ip
 {% endif %}
 no shutdown
!
{% endfor %}
!
{# --- INTERFACES CLIENTS (Accès VRF) --- #}
{% for vrf in vrfs_config %}
 {% for access in vrf.interfaces %}
interface {{ access.name }}
 description {{ access.desc }}
 vrf forwarding {{ vrf.name }}
 ip address {{ access.ip }} {{ access.mask }}
 no shutdown
!
 {% endfor %}
{% endfor %}
!
{# --- ROUTING IGP (OSPF) --- #}
router ospf 1
 router-id {{ router_id }}
 passive-interface default
 no passive-interface Loopback0
{% for intf in interfaces if intf.mpls %}
 no passive-interface {{ intf.name }}
{% endfor %}
 network {{ loopback_ip }} 0.0.0.0 area 0
{% for intf in interfaces if intf.mpls %}
 network {{ intf.network_ip }} 0.0.0.3 area 0
{% endfor %}
{% if ldp_enabled %}
 mpls ldp autoconfig
{% endif %}
!
{# --- ROUTING BGP (VPNv4 + VRF) --- #}
router bgp {{ backbone_as }}
 bgp log-neighbor-changes
 bgp router-id {{ router_id }}
{# Session iBGP vers l'autre PE pour VPNv4 #}
{% if neighbor and neighbor.ip %}
 neighbor {{ neighbor.ip }} remote-as {{ neighbor.remote_as }}
 neighbor {{ neighbor.ip }} update-source Loopback0
{% endif %}
 !
 address-family vpnv4
{% if neighbor and neighbor.ip %}
  neighbor {{ neighbor.ip }} activate
  neighbor {{ neighbor.ip }} send-community both
{% endif %}
 exit-address-family
 !
{# Sessions eBGP vers les Clients (CE) par VRF #}
{% for vrf in vrfs_config %}
 address-family ipv4 vrf {{ vrf.name }}
  {% for ce in vrf.bgp_neighbors %}
  neighbor {{ ce.ip }} remote-as {{ ce.remote_as }}
  neighbor {{ ce.ip }} activate
  {% endfor %}
 exit-address-family
{% endfor %}
!
end