router bgp {{ backbone_as }}
 !
{% for intf in router.interfaces if intf.vrf %}
 address-family ipv4 vrf {{ intf.vrf }}

 {% for ce in intent.routers.CE_ROUTERS %}
  {% if ce.pe == intf.ip %}
   neighbor {{ ce.ip.split('/')[0] }} remote-as {{ ce.as }}
  {% endif %}
 {% endfor %}

{% endfor %}