hostname {{ hostname }}
ip cef

!
! ===== Interfaces =====
!
interface Loopback0
 ip address {{ loopback_ip }} 255.255.255.255

{% for intf in interfaces %}
interface {{ intf.name }}
 description link to {{ intf.neighbor }}
 ip address {{ intf.ip }} {{ intf.mask }}
 no shutdown
 {% if ldp_enabled and intf.mpls %}
 mpls ip
 {% endif %}
{% endfor %}
!
! ===== OSPF core =====
!
router ospf 1
 router-id {{ router_id }}
 network {{ loopback_ip }} 0.0.0.0 area 0
{% for intf in interfaces if intf.mpls %}
 network {{ intf.network_ip }} 0.0.0.3 area 0
{% endfor %}
{% if ldp_enabled %}
 mpls ldp autoconfig
{% endif %}
