hostname {{ hostname }}
!
! Enable IPv6 routing on the router
ipv6 unicast-routing
!

! -------- Loopback (router identity + iBGP endpoint) --------
default interface Loopback0
interface Loopback0
 no ip address
 ipv6 enable
 ipv6 address {{ loopback_ip }}/128
 no shutdown
 ! OSPF enabled on loopback so the /128 is routable inside the AS
 ipv6 ospf 1 area 0
!

! -------- Physical links (IPv6 + OSPF) --------
{% for intf in interfaces %}
default interface {{ intf.name }}
interface {{ intf.name }}
 no ip address
 ipv6 enable
 ipv6 address {{ intf.ip }}/64
 no shutdown
 ipv6 ospf 1 area 0
{% if intf.ospf_cost %}
 ! Optional traffic-engineering: override OSPF interface cost if provided in intent
 ospfv3 cost {{ intf.ospf_cost }}
{% endif %}
!
{% endfor %}

! -------- Redistribution safety (avoid IGP <-> BGP loops) --------
! Tag used in BGP to mark "local" routes (asn:10). We must avoid re-injecting
! those routes back into OSPF when redistributing BGP -> OSPF.
ip community-list standard CL-LOCAL-AS permit {{ asn }}:10
!
route-map RM-BGP-TO-OSPF deny 10
 match community CL-LOCAL-AS
!
route-map RM-BGP-TO-OSPF permit 20
!

! -------- OSPFv3 process --------
ipv6 router ospf 1
 router-id {{ router_id }}
 ! Redistribute BGP into OSPF, with loop-prevention policy
 redistribute bgp {{ asn }} route-map RM-BGP-TO-OSPF
 !
 ! Passive by default (no OSPF hellos), enable only on selected interfaces
 passive-interface default
 no passive-interface Loopback0
{% for intf in interfaces %}
 no passive-interface {{ intf.name }}
{% endfor %}
!

