hostname {{ hostname }}
conf t
!
ip cef
!
interface {{ interface_name }}
 ip address {{ ip }} {{ mask }}
 no shutdown
 media-type rj45
!
router bgp {{ as_number }}
 bgp log-neighbor-changes
 redistribute connected
 neighbor {{ pe_ip }} remote-as {{ backbone_as }}
 !
end
