hostname {{ hostname }}
ip cef

interface {{ interface_name }}
 description link to PE
 ip address {{ ip }} {{ mask }}
 no shutdown

router bgp {{ as_number }}
 bgp log-neighbor-changes
 redistribute connected
 neighbor {{ pe_ip }} remote-as {{ backbone_as }}
 neighbor {{ pe_ip }} activate
