router bgp {{ backbone_as }}
 bgp log-neighbor-changes
 bgp router-id {{ loopback_ip }}

 ! --- Session iBGP vers l'autre PE ---
 neighbor {{ neighbor.ip }} remote-as {{ neighbor.remote_as }}
 neighbor {{ neighbor.ip }} update-source Loopback0
 
 address-family vpnv4
  neighbor {{ neighbor.ip }} activate
  neighbor {{ neighbor.ip }} send-community both
 exit-address-family